@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Doctor

<h1>DELETE THIS DOCTOR?</h1>
<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="CONFIRM DELETION" class="btn-block"/>
}

@Html.ActionLink("SHOW ALL DOCTORS", "Index", "Doctors", null, new { @class = "btn-block" })